<?xml version="1.0" ?>
<model>
    <name>walls</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Johvany Gustave</name>
        <email>johvany.gustave@ipsa.fr</email>
    </author>
    <description>Walls used to define the limits of the environment</description>
</model>
